version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - .:/var/www/html
    depends_on:
      - pgsql
      - redis
      - minio
    networks:
      - app_net

  web:
    image: nginx:alpine
    ports:
      - "${APP_PORT:-80}:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app_net

  queue:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    restart: always
    command: php artisan queue:work --sleep=1 --tries=3 -v
    volumes:
      - .:/var/www/html
    depends_on:
      - pgsql
      - redis
    networks:
      - app_net

  pgsql:
    image: postgres:18-alpine
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgsql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_USERNAME}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app_net

  redis:
    image: redis:alpine
    volumes:
      - redis-data:/data
    networks:
      - app_net

  minio:
    image: minio/minio:latest
    command: minio server /data --console-address ":8900"
    ports:
      - "9000:9000"
      - "8900:8900"
    environment:
      MINIO_ROOT_USER: sail
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-data:/data
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  pgsql-data:
  redis-data:
  minio-data:
